
body{
  background-color: yellow;
}
main{
    font-family: 'Dancing Script', cursive;
  background-color: #FFFFFF
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 160px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}

h1{
  border-bottom: 1px solid #000000;
  margin-bottom: 60px;
  background-color: #FFFFFF;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}


nav ul {
  list-style-tye:none;
  margin: 0;
  padding: 0;
}

nav li {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: #ffffff;
  background-color: #cc0000;
  border-radius: 20px;
}

nav li a {
  color: #ffffff
  padding: 10px;
 display: block;
 background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);

}


nav li {
  display: inline;
  padding: 0;
  margin: 10px;
/*  width: 150px; */
  color: #ffffff;
}


nav li {
  display: inline-block;
  padding: 0;
  margin: 10px;
  width: 150px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #cc0000;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  border-radius: 20px;
}

nav li a:hover {
  background-color: #660000;
  background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

footer {
  border: 2px solid red;
  border-radius: 5px;
}
