body {

}

header {
  background-color: lightblue;
}

h2{

}

h3{
  background-color: yellow;

}
#nu0{
  color:white;
}
#nu1{
  color: blue;
}
#nu2{
  color: red;
}
#nu3{
  color: yellow;
}
#nu4{
  background-color: lightgreen;
}
#nu5{
  color: orange;
}
#nu6{
  background-color: yellow;
}

h4{
background-color: green;
}
h5{
  color: red;
}
