body {

}

.customtext {
  font-family: Arial, Helvetica, sans-serif;
}

 #wrapper{
   width:960px;
   border: 2px solid #5190b8;
   background-color: white;
   padding: 24px;
   display: grid;
   grid-template-columns: repeat(12,1fr);

 }

 h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 24px
text-align:justify;
color: #5190b8;
 }
 h2{
   grid-column: span 12;
   text-decoration: underline;
   color: #5190b8;
 }

 h3{
   color: #5190b8;
   text-decoration: underline;
 }

 header {
   border: 1px solid blue;
   grid-column: span 12;
    background-color: blue;
 }

 nav {
   border: 1px solid blue;
   grid-column: span 12;
   background-color: blue;
 }
 main {
   grid-column: span 12;
 }
 .floatleft{
float: left;
padding: 15px;
 }
nav ul{
  margin: 0;
  padding: 0;

}

.floatright{
  float: right;
  padding: 15px;
}

 nav li {
   display: inline-block;
   padding: 0;
   margin: 0px;
   width: 150px;
   color: #5190b8;
 }

 nav li a {
   color: #5190b8;
   display: block;
padding: 24px

 }

 nav li a:hover {
   background-color: #5190b8;

 }

 footer {
   grid-column: span 12;
   border: 1px solid blue;
   background-color: red;
 }



 a {color: blue;
 }


 a:visited {
  color: #00ff00;
 }

 a:hover {
  color: #ffff00;
